.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100vw-8rem);
    gap: 2rem;
    justify-items: center;
    align-items: center;

    font-family: var(--font-family-body);
    color: var(--color-footer);
}

.project__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.project__content h2{
    font-size: 2rem;
    line-height: 2.5rem;
}

.project__content p{
    font-size: 1.2rem;
    line-height: 1.2rem;

}

.project__content .link__button{
    width: fit-content;
}
.project__image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}

.wobble-hor-bottom:hover {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  

.project__image img{
    width: 100%;
}


@media screen and (max-width: 1050px){
    .project{
        gap: 2rem;
    }
}

@media screen and (max-width: 950px){

    .project__content h2{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .project__content p{
        font-size: 1rem;
        line-height: 1.2rem;
    
    }
    
}

@media screen and (max-width: 850px){
    .project{
        grid-template-columns: 1fr;
        align-items: flex-start;
        justify-items: flex-start;
    }

    .project__content{
        align-items: flex-start;
    }
    
}