.skills{
    font-family: var(--font-family-body);
    display: flex;
    flex-direction: column;
    color: var(--color-bg);
    align-items: center;
    width: 100%;


}


.skills__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    align-items: stretch;
}


@media screen and (max-width: 650px) {
    .skills__content{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .skills__content{
        grid-template-columns: repeat(2, 1fr);
    }
    
}