.header{

    display: flex;
    flex-direction: column-reverse;
    background-color: var(--color-bg);
    align-items: center;
    gap: 4rem;
    justify-content: center;

    font-family: var(--font-family-body);
    color: var(--color-footer);
    padding: 0 4rem;
    padding-top: 4rem;

    


}

.header__image{
    width: 200px;
    height: 200px;
    background-color: var(--color-bg) ;
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.header__image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header__content{
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    font-weight: 500;
    align-items: center;
    text-align: center;
    /* -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both; */
            -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.header__content--name{
    font-size: 2rem;
}

.header__content--fullstack{
    font-size: 5rem;
    margin-top: 2rem;
    text-align: center;
}


.header__content span{
    color: transparent;
    background-clip: text;

}

.header__btn{
    padding: 1rem 1.2rem;
    border: 2px solid #02AAB0;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 600;
}

.header__btn a{
    color: transparent;
    background-clip: text;
}

.header__btn:hover{
    background:linear-gradient(135deg, #02AAB0 0%, #14AD95 100%);

}

.header__btn:hover a{
    color: var(--color-bg);
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

  @media screen and (max-width: 1100px) {
    .header__content--fullstack{
        font-size: 4rem;
    }
    
}

@media screen and (max-width: 900px) {
    .header__content--fullstack{
        font-size: 3rem;
    }
    .header__content--name{
        font-size: 1.5rem;
    }
    
}


@media screen and (max-width: 650px) {

    .header__content--fullstack{
        
        font-size: 2.3rem;
        font-weight: 500;
    }
}
@media screen and (max-width: 480px) {

    .header__image{
        width: 200px;
        height: 200px;
    }
    .header__content--fullstack{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .header__content--name{
        font-weight: 400;
    }
  
}



