*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* a{
    color: unset;
    text-decoration: none;
    padding-left: 2rem;
} */

.gradient__background{
    background:-moz-linear-gradient(135deg, #02AAB0 0%, #14AD95 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(135deg, #02AAB0 0%, #14AD95 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(135deg, #02AAB0 0%, #14AD95 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14AD95', endColorstr='#02AAB0', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(135deg, #02AAB0 0%, #14AD95 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(135deg, #02AAB0 0%, #14AD95 100%);
}

.section__padding{
    padding: 5rem 8rem;
}


.link__button{
    padding: 1rem 1.2rem;
    border: 2px solid #02AAB0;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 500px;
}

.link__button a{
    color: transparent;
    background-clip: text;
}

.link__button:hover{
    background:linear-gradient(135deg, #02AAB0 0%, #14AD95 100%);

}
.link__button:hover a{
    color: var(--color-bg);
}

.section__title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section__title  h3{
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
}

.section__title  p {
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
}


@media screen and (max-width: 900px){
    .section__title h3{
        font-size: 2.5rem;
    }
    .section__title p{
        font-size: 1.1rem;
    }
    .section__padding{
        padding: 4rem 5rem;
    }
    .link__button{
        padding: 1rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 550px){
    .section__title h3{
        font-size: 2rem;
    }
    .section__title p{
        font-size: 1rem;
    }

    .section__padding{
        padding: 3rem 4rem;
    }
    .link__button{
        padding: .8rem;
        font-size: 1rem;
        font-weight: 400;
    }
}